<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ordermanagement.mapper.CouponUserMapper">

    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM coupon_user
        WHERE user_id = #{userId}
        AND coupon_id = #{couponId}
    </select>

</mapper>
